@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #00b8de;
  }
}

@layer components {
  .btn {
    @apply mb-2 mr-2 inline-flex items-center justify-center rounded-lg border bg-primary-800 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-primary-700 focus:outline-none dark:border-primary-700;
  }
  .btn.active {
    @apply bg-primary-700 ring-2 ring-primary-600;
  }
}

@layer utilities {
  .youtubeContainer iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .mq-helper {
    @apply hidden;
    @screen sm {
      @apply block;
    }
  }
  @screen sm {
    .mq-helper::after {
      content: "sm";
    }
  }
  @screen md {
    .mq-helper::after {
      content: "md";
    }
  }
  @screen lg {
    .mq-helper::after {
      content: "lg";
    }
  }
  @screen xl {
    .mq-helper::after {
      content: "xl";
    }
  }
  @screen 2xl {
    .mq-helper::after {
      content: "2xl";
    }
  }
}
